[submodule "cli"]
	path = cli
	url = git@github.com:adyanth/cli.git
[submodule "moby"]
	path = moby
	url = git@github.com:adyanth/moby.git
[submodule "containerd"]
	path = containerd
	url = git@github.com:adyanth/containerd.git
